* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5%;
}
.displayBox {
  height: 60px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5%;
  background-color: #ffecec;
}
#display {
  height: 36px;
  display: flex;
  justify-content: flex-end;
  margin-top: 28px;
}
#buttonContainer {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
}
button {
  box-sizing: border-box;
  height: 2em;
  width: 30%;
  border-radius: 8px 13px 8px 13px;
}
button:hover {
  border: 2px solid dimgray;
}
